[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
pip = "*"
ipython = "*"
django-measurement = "*"
numpy = "*"
measurement = "*"
django-extensions = "*"
django-countries = "*"
pytz = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"
