-i https://pypi.org/simple
backcall==0.1.0
decorator==4.3.0
django-appconf==1.0.2
django-countries==5.3.2
django-extensions==2.1.3
django-measurement==3.1.1
django==2.1.2
ipython-genutils==0.2.0
ipython==7.1.1
jedi==0.13.1
measurement==2.0.1
mpmath==1.0.0
numpy==1.15.3
parso==0.3.1
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==2.0.6
ptyprocess==0.6.0
pygments==2.2.0
pytz==2018.6
six==1.11.0
sympy==1.3
traitlets==4.3.2
wcwidth==0.1.7
wheel==0.32.2
