{% extends 'base_generic.html' %}

{% block content %}

<h2>Profile Details</h2>
    <li>First Name:  {{ profile.user.first_name }} </li>
    <li>Last Name:  {{ profile.user.last_name }}</li>
    <li>User Name: {{ profile.user.username }}</li>
    <li>Email: {{ profile.user.email }}</li>
    <li>DOB:  {{ profile.birth_date }}</li>
    <li>Country: {{ profile.country }}</li>
    <li>Time Zone: {{ profile.time_zone }}</li>
    <li>Height: {{ height }}</li>
    <li>Weight: {{ weight }}</li>

{% endblock %}
